*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.fillWordForm{
   min-width: 500px;

    justify-content: center;
    width: 500px;
    margin: 20px 0;
    border-radius: 40px;

}
.fillWordForm div.background{
    position: absolute;
    background:linear-gradient(45deg,rgb(17, 17, 114) 5% ,rgba(40, 182, 83, 0.938) 70%, yellow 20%);
    top:0;
    left:0;
    width:100vw;
    z-index: -1;
}
.fillWordForm div.background span.text{
    position:absolute;
    top: 10px;
    left: 0;
    font-size: 40px;
    transform: translateX(40vw);
    
    z-index: 3;
}
form.formFill{
    display: flex;
    flex-direction: column;
    width: 40vw; 
    padding: 20px 40px;
    background:rgb(5, 175, 197);
    backdrop-filter: blur(30px);
    
}
div.subtopic{
    display: flex;
    flex-wrap: wrap;
}
div.subtopic>input{
    width:90%;
}
div.subtopic > button{
    width: 10%;
    padding: 3px 3px;

}
.formFill input{
    margin: 5px 0;
    padding-left: 20px;
    height: 45px;
    text-align: center;
}
button.add-button{
    margin-top:5px;
    width:100%;
    cursor: pointer;
    background:green;
    padding: 2px 4px;
    color:  white;
    margin:auto;
    border-radius:20px;
    border:2px solid green;
}
button.add-button::before{
    content: '+';
    position: relative;
    top:0;
    left: 0;
    
    padding-left: -100px;
}
button.remove-button{
    background:red;
    margin-top: 6px;
    width:40px;
    height: 44px;
    margin-left: 0px;
    border-radius: 0;
    text-align:center;
    align-items: center;
    cursor: pointer;

}
button.remove-button::before{

  
    cursor: pointer;

}
.input-div {
    position: relative;
    margin-left: 30%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(1, 235, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    animation: flicker 2s linear infinite;
  }
  img#image{
     width: 50%;
     height: 100px;
     margin: 20px auto;
  }
  .icon {
    color: rgb(1, 235, 252);
    font-size: 2rem;
    cursor: pointer;
    animation: iconflicker 2s linear infinite;
  }
  .input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
  }
  @keyframes flicker {
    0% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
    5% {
      border: none;
      box-shadow: none;
    }
    10% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
    25% {
      border: none;
      box-shadow: none;
    }
    30% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
    100% {
      border: 2px solid rgb(1, 235, 252);
      box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
    }
  }
  @keyframes iconflicker {
    0% {
      opacity: 1;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 1;
    }
    25% {
      opacity: 0.2;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }