*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-quiz{
    border:1px solid grey;
    width: 640px;
    margin: auto;
    margin-top:150px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container-quiz h1{
    border-bottom: 2px solid black;
    padding:  20px 0 ;
}
.container-quiz h2{
    font-size: 27px;
    font-weight: 500;

}
.container-quiz ul{
    list-style-type: none;
    text-decoration: none;
}
 .container-quiz li.quiz-item{
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}
 .container-quiz button.quiz-button{
    border:2px solid grey;
    padding: 2px 4px;
   margin: auto;
   width:250px;
   height: 65px;
   background: rgb(10, 107, 218);
   color: #fff;
   font-size: 25px;
   font-weight: 500;
   border-radius: 8px;
}
.container-quiz .index{
    font-size: 18px;
    margin: auto;
}
.correct{
    background-color: rgba(56, 233, 94, 0.671);
}
.wrong{
    background-color: #f44;
}