footer.footer{
    background-color: #b44225;
    width: 98%;
    margin-left:;
    margin-top: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
   transform: translateY(50px);

    color: black;
    
}
ul{
    list-style-type: none;
}
footer.footer>ul.footer-ul{
    list-style-type:circle;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 20px 4px;
    
}
@media screen and (max-width:850px) {
    footer.footer{
        transform: translateY(500px);
    }
}