@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
div.normalWordRender{
    border-bottom: 1px solid rgba(0, 0, 0, 0.959);
    margin: 3px 3px;
    padding: 3px 4px;
    border: 2px solid grey;
    font-family: "Rubik", sans-serif;

    
}
div.normalWordRender h4{
    font-family: "Playwrite IT Moderna", cursive;
    color:#DC9E18;
}
div.normalWordRender h3{
    color: #2E2105
}
div.normalWordRender:hover{
    background-color: #7C572D
}